:root{
--color1: rgb(11, 10, 34);
--color2: rgb(255, 184, 43);
--color3: rgb(255, 255, 255);
--color4: rgb(37, 7, 105);
--color5: rgb(45, 182, 223);
}
h1{
    color: var(--color1);
    outline-width: thick;
    outline-color: var(--color2);
    border-radius: 35px;
    text-align: center;
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: var(--color2);
}

body {
    background-color: var(--color1);
    color: var(--color3);
    font-size: 20px;
}


.listes1{
    background-color: var(--color1);
    border-radius: 20px;
    outline-style: dotted;
    outline-color: var(--color2);
}

.listes2{
    background-color: var(--color4);
    border-radius: 20px;
}

.listes3{
    background-color: var(--color5);
    border-radius: 3px;
    outline-style: dashed;
    outline-color: var(--color5);
}