
var {
--color1: rgb(62, 44, 114);
--color2: rgb(167, 254, 255);
}

h1 {
    color: var(--color1);
    outline-width: thick;
    outline-color: rgb(128, 215, 255);
    outline-style:dashed;
    border-radius: 35px;
    text-align: center;
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(0, 225, 255);
}

body {
    background-color: var(--color1);
    color: rgb(1, 185, 47);
    font-size: 20px;
}  

.listes {
    background-color:rgb(204, 172, 104);
    color: rgb(247, 239, 221);
    outline-width: thick;
    outline-style: dashed;
    outline-color: rgb(208, 180, 114);
    border-radius: 10px;

}

.xoxo {
    text-decoration: none;
    color: rgb(247, 239, 221);
}



.container-example {
        outline-style:dashed;
        outline-color: rgb(200, 210, 59);
        padding: 10px;
        border-radius: 10px;
        background-color:rgb(120, 200, 56);
        }

    .case {
        background-color: rgb(1, 185, 47);
        outline-style:dashed;
        color: rgb(208, 255, 0);
        padding: 15px;
        border-radius: 5px;
        outline-color: rgb(1, 185, 47);
        text-align: center;
        font-size: 1.2em;
    }


    .container-example {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        grid-template-rows: auto;
    }