h1 {
    color: rgb(0, 119, 255);
    outline-width: thick;
    outline-color: rgb(128, 215, 255);
    outline-style:dashed;
    border-radius: 35px;
    text-align: center;
    font-size: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(0, 225, 255);
}

body {
    background-color: rgb(255, 220, 67);
    color: rgb(1, 185, 47);
    font-size: 20px;
}  

.listes {
    background-color:rgb(204, 172, 104);
    color: rgb(247, 239, 221);
    outline-width: thick;
    outline-style:auto;
    outline-color: rgb(212, 189, 123);
    border-radius: 10px;

}

.caca {
    text-decoration: none;
    color: rgb(247, 239, 221);
}

@-webkit-keyframes swirl-in-bck {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
            transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-bck {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
            transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
